# macOS
.DS_Store

# Compiled class files
*.class

# Build output
build/
dist/
nbproject/private/

# Logs
*.log

# Java / JVM
*.jar
*.war
*.ear
hs_err_pid*

# NetBeans
nbbuild/
nbdist/
.nb-gradle/

# Eclipse
.metadata/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
